<div class="conteiner__big-card">
  <div class="big-card__photo">
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRTKbtkCWiBH7KDsai3yUMru81-7oN9m5eWeA&usqp=CAU"
      alt=""
      height="206px"
    />
  </div>

  <div class="big-card__title">
    <h1>
      <a href="#">Saiu a lista com os animes mais bem avaliados na história</a>
    </h1>
  </div>

  <div class="big-card__description">
    <p>
      It is a long established fact that a reader will be distracted by the
      readable content of a page when looking at its layout. The point of using
      Lorem Ipsum is that it has a more-or-less normal distribution of letters,
      as opposed to using 'Content here, content here', making it look like
      readable English.
    </p>
  </div>
</div>
